@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-blue: #2a27ff;
  --primary-bg: #0a0a09;
  --primary-text: #f0f0f0;

  --secondary-text: #a7a7a7;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

.dark-bg {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

.heading-text {
  font-size: 3rem;
  font-weight: 600;
}
.sub-heading-text {
  font-size: 1.2rem;
  color: var(--secondary-text);
}

span {
  font-size: 16px;
  color: var(--secondary-text);
}

.project-details span {
  font-size: 18px;
  color: var(--primary-text);
  opacity: 1 !important;
}

.project-details h2 {
  font-size: 24px;
  color: var(--primary-text);
  opacity: 1 !important;
}

.project-details .secondary-text {
  font-size: 12px;
  color: var(--secondary-text);
  opacity: 1 !important;
}

.project-details .tags {
  border-radius: 4px;
  white-space: nowrap;
  font-size: 16px;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
